body {
  background-color: lightgreen;
  font-family: "Source Sans Pro", sans-serif;
}

.image-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.image-container:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate( -51%, -50% );
  padding-bottom: 100%;
  box-shadow: inset 0 0 1em 1em white, inset 0 0 1em 1em white;
}

footer {
  background-color: springgreen;
  padding: 1em;
  border: 2px solid sienna;
}

a {
  color: indigo;
}

hr {
  border: 2px solid red;
}

.lead {
  font-size: 164%;
}

ul li {
  list-style-type: disc;
}
